.new-password-form-content {
  width: 90%;
  max-width: 400px;
  margin-top: 50px;
  
  .new-password-form-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 15px;
  }
}
